* {
    background-color: #1b181a;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

body{
    margin: 0;
    padding: 0;
    min-height: 100vh; /* This ensures the body covers the entire viewport height. */
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

header {
    color: #e7e4e6;
    padding: 0.8rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 1.1rem;
}


#content {
    
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    padding: 0.3rem;
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 2rem;
    color: #e7e4e6;

    
}

#content > #quote {
    
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: justify;
    padding-left: 2rem;
    padding-right: 2rem;
    font-style: italic;
}

#content > #qAuthor {
    align-self: flex-end;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    margin-right: 1.8rem;
    border-bottom: solid #21f1cf 1px;
}

#description {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    padding: 0.3rem;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: #e7e4e6;
}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
    margin: auto;
    padding: 2rem;
}



#buttons > button, #buttons > .canClick {
    transition: 5ms ease;
    border-radius: 0.3rem;
    width: 10rem;
    height: 3rem;
    background-color: #f52447;
    color: #1b181a;
    border: solid #1b181a 1px;
}

#btnA {
    border: solid #1b181a 1px;
    background-color: #3e0229;
}

#buttons > .canClick:hover, #buttons > .click:hover {
    transition: 0.3s ease;
    border: solid #21f1cf 1px;
}


footer {
    padding: 0.8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: smaller;
}

footer > #remark {
    color: #e7e4e6;
    font-weight: lighter;
}

#link > a {
    font-size: large;
    color: #e7e4e6;
}

#link > a:hover {
    transition: 0.4s ease;
    color: #21f1cf;
}





